.product-card {
    border: 1px solid #eaeaea;
    border-radius: 8px;
    overflow: hidden;
    transition: 0.3s;
    text-align: center;
  
    a {
      text-decoration: none;
      color: inherit;
    }
  
    .product-image {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }
  
    .product-info {
      padding: 0.5rem 1rem;
  
      .product-title {
        font-size: 1rem;
        margin: 0.5rem 0;
      }
  
      .product-price {
        font-weight: bold;
        color: #008060;
      }
    }
  
    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    }
  }
  