:root {
  /* Main-Colors */
  --primary-color: #d9a441;
  --secondary-color: #c2d941;
  --accent-color: #d95841;
  /* --------------------------- */
  /* Info-Colors for Message's */
  --warning-color: #ffc107;
  --danger-color: #dc3545;
  /* --------------------------- */
  /* Dark-Light Color Standarts */
  --light-color: #f8f9fa;
  --dark-color: #343a40;
  --white-color: #ffffff;
  --black-color: #16171a;
  --header-height: 100px;
  /* --------------------------- */
}
