// Header.scss - Minimales Styling für den Header
@use '../../../styles/abstracts/mixins' as *;
@use '../../../styles/abstracts/variables' as *;
@use '../../../styles/base/animations' as *;
@use '../../../styles/base/reset' as *;
@use '../../../styles/base/typography' as *;

.site-header {
  width: 100%;
  height: var(--header-height, 100px);
  z-index: 1000;
  background-color: var(--white-color, #ffffff); // Fallback-Wert hinzugefügt
}